html,
body {
  margin: 0;
  padding: 0;
}

h2>a {
  text-decoration: none;
  color: black;
}

#canvas {
  /*background: black;*/
  flex: 7;
  padding: 1%;
}

#scorecard {
  flex: 0.5;
  align-self: center;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-family: 'Raleway';
}

#progress {
  width: 100%;
  flex: 0.5;
  border-bottom: 5px solid #FFC107;
  /*animation: reduced 7s ease-in-out infinite;*/
}

#copyright {
  display: flex;
  flex: 2;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#copyright span {
  padding: 0em 0em;
  text-align: center;
  font-family: 'Raleway';
  font-size: 1em;
  align-self: center;
}

@keyframes reduced {
  to {
    width: 0px;
  }
}

#xScoreContainer,
#oScoreContainer {
  flex: 2;
  align-self: center;
  font-size: 1.5em;
  font-weight: 100;
}

.xScore {
  color: #F44336;
  font-weight: normal;
}

.oScore {
  color: #87CEEB;
  font-weight: normal;
}

#scorecard h2 {
  flex: 6;
  font-weight: 100;
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

.animated {
  animation-duration: 500ms;
  animation-fill-mode: both;
}


/* Fragment */

.fragment {
  position: absolute;
  font-family: 'Raleway';
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}

.fragmentContent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: #2F4F4F;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10% 5%;
  box-shadow: 0px 0px 6px 0px #eae5e5;
  outline: 5px solid #00bcd4;
}

.fragment button {
  border: none;
  background: #696969;
  padding: 5% 0%;
  margin-bottom: 5%;
  box-shadow: 0px 0px 6px 0px #eae5e5;
  width: 100%;
  font-size: calc(100*1.5%);
  transition: box-shadow 0.4s ease, background 0.4s ease;
}

.fragment button:active {
  box-shadow: 0px 2px 8px 0px #eae5e5;
  background: #4169E1
}

.fragmentContent p:first-child {
  margin-bottom: 0px;
}

.fragmentContent button:last-child {
  margin-bottom: 0px;
}
